.box {
	margin-top: 20px;
	display: flex;
	position: relative;
	width: 900px;
	height: 520px;
	overflow: hidden;
}

.form {
	position: absolute;
	width: 400px;
	inset: 2px;
	border-radius: 8px;
	background: #fff;
	z-index: 10;
	padding: 50px 40px;
	display: flex;
	flex-direction: column;
}

.form h2 {
	color: #000;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.1rem;
}

.form-text{
	margin: 15px auto;
	font-size: 14px;
	font-weight: 500;
	color: gray;
}

.google{
	padding: 0 60px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	color: gray;
	border: 2px solid gray;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
}

.google:hover{
	opacity: 75%;
}

.google-img{
	width: 40px;

}

.inputBox {
	position: relative;
	width: 300px;
	margin-top: 35px;
}

.log-input {
	height: 100%;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid #cecece;
}
.log-input:focus ~ label {
	top: -5px;
	font-size: 14px;
	left: 0;
}
label {
	position: absolute;
	transition: 0.5s;
	left: 5px;
	color: gray;
	top: 15px;
}

.links {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.check-box {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: gray;
}

.check-box input{
	margin-right: 10px;
}

.links{
	margin-top: 10px;
}

.links a {
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	font-weight: 500;
	text-decoration: none;
	transition: 0.2s;
}

.links a:hover {
	color: #000;
}

button {
	width: 300px;
	margin-top: 15px;
	padding: 12px 25px;
	font-weight: 600;
	color: #fff;
	background: #000;
	border-radius: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .5s;
}

button:hover{
	opacity: 50%;
}

.image {
	position: absolute;
	z-index: 100;
	right: 15px;
	bottom: 0;
}

.image img{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.reg-box{
	margin-top: 25px;
	font-size: 13px;
	text-align: center;
	color: gray;
}

.reg-box a{
	margin-left: 10px;
	color: #000;
	font-weight: 600;
}