*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #e6e8ec;
  font-family: sans-serif;
}
